body{
    background-color: #9CD8F7!important;
}
.userSelection
{
    height: 100vh;
}
.userSelection .btnContainer{
    position: absolute;
    margin: auto;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 200px;
}
.userSelection .btnContainer *{
    display: block;
    margin: 10px;
}
.donationContainer
{
    display: none;
}
.donationContainer .towns
{
    position: absolute;
    z-index: 100;
}